<script >
document.addEventListener("turbolinks:click",()=>{
  console.log('yes')
})
    
//     $(document).on('turbolinks:click', function() {
//           console.log("im here")
// });
</script>

<div class="bg-white " data-turbo="true" >
  <div class="pb-16 pt-6 sm:pb-24">
   
    <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
        <div class="lg:col-span-5 lg:col-start-8">
          <div class="flex justify-between">
            <h1 class="text-xl font-medium text-gray-900"><%=@listing.name %></h1>
            <p class="text-xl font-medium text-gray-900"> $ <%=@listing.price%></p>
          </div>
          
        </div>

        <!-- Image gallery -->
        <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
        

         

          <div class="swiper sm:pl-12 lg:pl-0">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"> <%=image_tag @listing.cover_photo.variant(:large) %> </div>

    <% if @listing.supporting_photo_one.attached?%>
      <div class="swiper-slide"> <%=image_tag @listing.supporting_photo_one.variant(:large)%> </div>

   <%end%>

   <% if @listing.supporting_photo_two.attached?%>
      <div class="swiper-slide"> <%=image_tag @listing.supporting_photo_two.variant(:large)%> </div>

   <%end%>
   
   <% if @listing.supporting_photo_three.attached?%>
      <div class="swiper-slide"> <%=image_tag @listing.supporting_photo_three.variant(:large)%> </div>

   <%end%>
   
   <% if @listing.supporting_photo_four.attached?%>
      <div class="swiper-slide"> <%=image_tag @listing.supporting_photo_four.variant(resize_to_fill: [525, 700])%> </div>

   <%end%>
   
   <% if @listing.supporting_photo_five.attached?%>
      <div class="swiper-slide"> <%=image_tag @listing.supporting_photo_five.variant(resize_to_fill: [525, 700])%> </div>

   <%end%>
   <% if @listing.supporting_photo_six.attached?%>
      <div class="swiper-slide"> <%=image_tag @listing.supporting_photo_six.variant(resize_to_fill: [525, 700])%> </div>

   <%end%>
   
   

    

  
   
  </div>
  
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev "></div>
  <div class="swiper-button-next "></div>

  

  <!-- If we need scrollbar -->
 
</div>
        
        </div>

        <div class="mt-8 sm:pl-12 lg:pl-0 lg:col-span-5">
            <!-- Color picker -->
            <div>
              <h2 class="text-sm font-medium text-gray-900">Color</h2>
              <%= @listing.colour %>
              <%=puts  @listing.order %>
             

            </div>

            <!-- Size picker -->
            
            <div class="mt-4">
              <div class="flex items-center justify-between">
                <h2 class="text-sm font-medium text-gray-900">Size</h2>
               
              </div>

             
                  <h1 class="inline" > <%=humanize_size_enum(@listing.size)%> </h1>
                    
                   
                  
               

              
            </div>

              <div class="mt-4">
                <h2 class="text-sm font-medium text-gray-900">Condition</h2>

                 <span id="size-choice-0-label"><%= humanize_condition_enum(@listing.condition) %></span>
               

                </div>

           
          

          <%if !user_signed_in? %>
                                       <%= link_to 'Purchase',new_user_registration_path, class:"mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-teal-700 px-8 py-3 text-base font-medium text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>


           <%elsif current_user.id != @listing.user_id && @listing.is_sold == false %>
                             <%= link_to 'Purchase',checkout_path(@listing.id), class:"mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-teal-700 px-8 py-3 text-base font-medium text-white " %>

           <%elsif @listing.is_sold == false && current_user.id == @listing.user_id%>

                      <%=link_to 'Edit Listing', edit_listing_path(@listing.id), class:"mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-teal-700 px-8 py-3 text-base font-medium text-white"%>
                      <%= button_to "Delete Listing", @listing, method: :delete,class:"mt-8 flex w-full items-center justify-center rounded-md border border-5 border-teal-700 bg-white px-8 py-3 text-base font-medium text-red-500", data:{turbo_confirm:"Are you sure you want to delete your listing?"}%>

             <%elsif @listing.is_sold == true && current_user.id == @listing.user_id%>
              <h1 class="pt-4 text-xl font-bold text-red-900"> This item has been sold</h1>


             <%else%>

              <h1 class="pt-4 text-xl font-bold text-red-900"> This item has been sold</h1>


          <%end%>

          <!-- Product details -->
          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Description</h2>

            <div class="prose prose-sm mt-4 text-gray-500">
             
              <p><%= @listing.description%></p>
            </div>
          </div>

         




          <!-- Policies -->
          <section aria-labelledby="policies-heading" class="mt-10">
            <h2 id="policies-heading" class="sr-only">Our Policies</h2>

            <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
              <div class="rounded-lg border border-gray-200 bg-gray-50 p-6 text-center">
                <dt>
                  

                  <svg  class="mx-auto h-6 w-6 flex-shrink-0 text-gray-400" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  <span class="mt-4 text-sm font-medium text-gray-900">Location</span>
                </dt>
                <dd class="mt-1 text-sm text-gray-500"> This item is in <%= @listing.location_state%></dd>
              </div>
              <div class="rounded-lg border border-gray-200 bg-gray-50 p-6 text-center">
                <dt>
                  <svg class="mx-auto h-6 w-6 flex-shrink-0 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <span class="mt-4 text-sm font-medium text-gray-900">Loyalty rewards</span>
                </dt>
                <dd class="mt-1 text-sm text-gray-500">Don&#039;t look at other tees</dd>
              </div>
            </dl>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
