<div class="bg-white container -mt-0 pb-10 mx-auto" >
  <div class="flex pb-10 flex-row">
     <div class="sm:basis-1/6 hidden sm:block" >
                
                <%=render 'listings/filter'%>

      </div>
            
    <div class="mx-2 sm:basis-5/6 max-w-2xl px-0 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <%# <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2> %>
    
      <div class="mt-6 grid grid-cols-2 gap-x-10 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          <% @listings.each do |listing| %>
          <div class="col-span-1">
              <div class=" w-full overflow-hidden rounded-md  group-hover:opacity-75 ">
              
                  <%= link_to listing_path(listing.id) do%>  

                      <%=image_tag listing.cover_photo.variant(resize_and_pad: [420, 440,background: [242, 242, 242]])  %>

                     

                       <%# <%=image_tag listing.cover_photo.variant(resize_and_pad: [400, 400,background: [249, 249, 245]])  %> 

                       <%# <%=image_tag listing.cover_photo.variant(resize_to_fill:[300,300, no_rotate: true]) %> 
                  <% end %>
              
              
              </div>
          
              <div class="mt-4 flex justify-between">
              <div>
                  <h3 class="text-sm text-gray-700">
                

                  <p class="font-medium text-md">    <%= listing.name%></p>
                  </h3>
                  <p class="text-sm font-medium text-gray-900"> NGN <%= listing.price%></p>
              </div>
              <p class="mt-1 text-sm text-gray-500 pr-12"><%= listing.colour%></p>
          
              </div>
              
          </div>
          
          <% end %>

          



        <!-- More products... -->
      </div>

        
      
    </div>


  <div>
</div>