<body data-turbo="true">


<%= turbo_frame_tag :pay_lazy do %>
<div class="  bg-white container mx-auto  px-4 pb-24 pt-16 sm:px-6 lg:px-8" >
    <%# <meta name="turbo-visit-control" content="reload">
    <%= turbo_page_requires_reload %> 

      
    
    
    <div class=" grid-cols-1 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-12 xl:gap-x-16">
        

          <div class="span-col-1 md:col-span-1 flex flex-col space-y-4 md:pb-10 lg:pb-0 " data-controller= "general" data-general-price-value=<%= @listing.price%> data-general-listingid-value=<%=@listing.id%> data-general-txref-value=<%=@txref%>  >
        
              <div class="flex flex-col">
              <%= render "addresses/show", current_address_id: current_user.default_address_id, default: true, listing_id:true%>

            <% if current_user.default_address_id == nil%>
          
            <div id="pay_button">

            <h2> Please add a shipping address first in order to pay for this item</h2>

              <button type="button"   class="mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-teal-700 px-8 py-3 text-base font-medium text-white ">Pay Now</button>
            </div>
          
            <% else%>
               <div class="span-col-1">
              <% if @default_address!= nil%>

                <div class="font-bold">
                  <label for="location" class="block text-sm font-medium leading-6 text-gray-900">Please select a courier for shipping</label>
                  <select data-general-target="courierSelect" name="location" class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <option></option>
                  <% for rate in @rates%>
                     <% if rate['status'] == true %>
                 
                    <option value= <%=rate['id']%>  >
                     <%=rate['courier']['name'] %> 
                     (<%=rate['estimated_days'] %>) <span style:bold> -NGN <%= rate['amount']%> </span>
                   
                    
                    </option>

                    <%end%>
                   
                    
                  <% end%>
                <% end%>
                  </select>
                </div>
            <%# <%end%>
          
        
           
                </div>
                <%# <button type="button"   class="mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-teal-700 px-8 py-3 text-base font-medium text-white ">Pay Now</button> %>
            
                    <button type="button" data-action="click->general#makePayment"  class="mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-teal-700 px-8 py-3 text-base font-medium text-white ">Pay Now</button>
            <%end%>
            </div>
        
         
        </div>

     

          <!-- Order summary -->
          <div class="flex flex-col space-y-20 col-span-1 lg:col-span-1 md:pt-4">
        
            
              
                <div class="mt-4 divide-gray-200 sm:-my-10 bg-gray-100 rounded-lg px-8">
                  <div class="flex py-6 sm:py-10">
                    <div class="min-w-0 flex-1 lg:flex lg:flex-col">
                      <div class="lg:flex-1">
                        <div class="sm:flex">
                          <div>
                            <h4 class="font-medium text-gray-900"><%= @listing.name%></h4>
                            <p class="mt-4 hidden text-md text-gray-500 sm:block"><%= @listing.description%></p>
                          </div>
                          <p class="mt-1 font-medium text-gray-900 sm:ml-6 sm:mt-0"><%= @listing.price%></p>
                        </div>
                        <div class="mt-2 flex text-sm font-medium sm:mt-4">
                          <%# <a href="#" class="text-indigo-600 hover:text-indigo-500">View Product</a> %>
                            <%= link_to 'View Product', listing_path(@listing.id), class:"block  py-2 text-sm text-gray-700" %>
                          
                        </div>
                      </div>
                    
                    </div>
                    <div class="ml-4 flex-shrink-0 sm:order-first sm:m-0 sm:mr-6">
                      <%# <img src="https://tailwindui.com/img/ecommerce-images/order-history-page-06-product-01.jpg" alt="Olive drab green insulated bottle with flared screw lid and flat top." class="col-start-2 col-end-3 h-20 w-20 rounded-lg object-cover object-center sm:col-start-1 sm:row-span-2 sm:row-start-1 sm:h-40 sm:w-40 lg:h-52 lg:w-52"> %>
                      <%= image_tag (@listing.cover_photo.variant(resize_to_fit:[200,200]))%>
                    </div>
                  </div>

                  <!-- More products... -->
                </div>

              <section aria-labelledby="summary-heading" class="mt-16 bg-gray-100 rounded-lg bg-gray-100 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8">

            
                <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Order summary</h2>

                <dl class="mt-6 space-y-4">
                <div class="flex items-center justify-between">
                    <dt class="text-sm text-gray-600">Subtotal</dt>
                    <dd class="text-sm font-medium text-gray-900"> NGN <%= @listing.price%></dd>
                </div>
                <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                    <dt class="flex items-center text-sm text-gray-600">
                    <span>Shipping estimate</span>
                    <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Learn more about how shipping is calculated</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    </dt>
                    <dd class="text-sm font-medium text-gray-900">$5.00</dd>
                </div>
                <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                    <dt class="flex text-sm text-gray-600">
                    <span>Tax estimate</span>
                    <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Learn more about how tax is calculated</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    </dt>
                    <dd class="text-sm font-medium text-gray-900">$8.32</dd>
                </div>
                <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                    <dt class="text-base font-medium text-gray-900">Order total</dt>
                    <dd class="text-base font-medium text-gray-900">$112.32</dd>
                </div>
                </dl>

                
            </section>
          </div>
   

    </div>
   
</div>


<% end %>
</body>
