
<nav class="bg-white border-b  border-gray-300">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between" data-controller="visibility">
    
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" data-action="click->visibility#showMobileMenu" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      
      <div class="flex flex-1 items-center justify-center  sm:justify-start">
        <div class="flex flex-shrink-0 items-center pr-8">
          <%= link_to root_path do%>  
          <%# <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company"> %>
          <%= image_tag "logo.png", width: "140"%>
          <% end%>
        </div>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-8 ">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

             <%= link_to 'Sell', sell_sale_path, class:"text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium" %>  
               <%= link_to 'Shop', shop_path, class:"text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium" %>  

               <% if user_signed_in?%> <%# if a user is logged in%>
                
             
              <%else%>

           
                 <%= link_to 'Log In', new_user_session_path, class:"text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium" %>  
                   <%= link_to 'Sign Up', new_user_registration_path, class:"text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium" %> 

                

              <% end%>
             
          </div>

         
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
       <div class="block sm:hidden">
       <%if user_signed_in? == false%>
           <%= link_to 'Sign Up', new_user_registration_path, class:"text-white bg-teal-700 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
           <%end%> 

          </div>
        

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"



          -->


          <div class="relative z-10 hidden sm:hidden" data-visibility-target="mobilemenu" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on slide-over state.

    Entering: "ease-in-out duration-500"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in-out duration-500"
      From: "opacity-100"
      To: "opacity-0"
  -->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

            <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="pointer-events-auto w-screen max-w-md">
          <div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
            <div class="px-4 sm:px-6">
              <div class="flex items-start justify-between">
              <% if user_signed_in?%>
                <h2 class="text-base font-semibold leading-6 text-gray-900" id="slide-over-title"></h2>
              <%else %>

                <%=link_to 'Sign up', new_user_registration_path%>
               <% end%> 
                <div class="ml-3 flex h-7 items-center">
                  <button data-action="click->visibility#showMobileMenu" type="button" class="relative rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <span class="absolute -inset-2.5"></span>
                    <span class="sr-only">Close panel</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="relative mt-6 flex flex-col gap-y-4 px-4 sm:px-6">
              <%= link_to 'Shop All', shop_path, class:"border-b font-bold text-lg py-4 border-t"%>

              <%= link_to 'Sell an item',new_listing_path, class:"border-b font-bold text-lg py-4 "%>
              <%if user_signed_in?%>

               
           
           
             <h1 class= "font-bold"> Sell </h1>
             <%= link_to 'My Items For sale', sell_sale_path%>
              <%= link_to 'My Items Sold', sell_sold_path%>
              <h1 class= "font-bold"> My account </h1>
                <%= link_to 'My Purchases', purchases_path%>
                  <%= link_to 'My Storefront', storefront_path(current_user.username)%>
              <%= link_to 'Edit profile details', edit_user_registration_path%>
              <%= link_to 'Delete account', sell_sale_path%>
              <%= link_to 'Sign out', destroy_user_session_path%>
              <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
</div>




        <!-- Profile dropdown -->
      <%if user_signed_in?%>
        <div class="relative ml-3" >
          <div class="hidden sm:block"> 
            <button type="button" data-action="click->visibility#showMenu" class="relative flex rounded-full  text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <svg class="block h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
             </svg>

              
              <%# <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> %>
            </button>
          </div>


          <div data-visibility-target="profile"  class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
          
                <%=link_to 'My Storefront', storefront_path(current_user.username), class:"block px-4 py-2 border-dashed border-b text-sm text-gray-700" %>
                 <%=link_to 'Purchases', purchases_path(), class:"block px-4 py-2 border-dashed border-b text-sm text-gray-700" %>
           

            <!-- Active: "bg-gray-100", Not Active: "" -->
            <%=link_to 'Edit Profile', edit_user_registration_path, class:"block px-4 py-2 border-b border-dashed text-sm text-gray-700"%>

            <%=link_to 'Sign out', destroy_user_session_path, data:{turbo_method: :delete}, class:"block px-4 py-2 border-b border-dashed text-sm text-gray-700"%>
            
          </div>
            
        </div>

      <%end%>


      </div>
    </div>
  </div>

</nav>

