
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwuEt74q7a_ZUd7QAbCh6hqCAKjxJXtUs&libraries=places&callback=initAutocomplete" async defer>
</script>

<script>
    let autocomplete;
    function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'),
        {
        
            // componentRestrictions:{'country': ['NG']},
            componentRestrictions:{'country':['NG']},
            fields: ['formatted_address', 'geometry', "address_components"  ],
            types:["address"]
        })

        autocomplete.addListener('place_changed', onPlaceChanged);
    }

    function onPlaceChanged(){
      console.log('yes')
      var place = autocomplete.getPlace();
      console.log(place)


      if( !place.geometry){

        document.getElementById('autocomplete').value = nil;
      }
      else{
        document.getElementById('autocomplete').disabled = true;

        // console.log(document.getElementById('autocomplete').value)
        document.getElementById('address_line1').value = document.getElementById('autocomplete').value

      }

      
    }

    function clearLine1(){
        document.getElementById('autocomplete').value = "";
         document.getElementById('autocomplete').disabled = false;
      }
</script>


<div class="relative z-10"  data-controller="modal">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6" >
        <%= form_with model: @address, data:{action:"turbo:submit-end->modal#submitEnd"} do |form|%>
      <div>
        <% if form.object.errors.any? %>
            <div class="rounded-md bg-red-50 p-4">
               
                <div class="mt-2 text-sm text-red-700">
                 <ul role="list" class="list-disc space-y-1 pl-5">
                <% form.object.errors.full_messages.each do |message| %>
                   
                     
                    <div> <%= message %> </div>
            
                <% end %>
                </ul>
                </div>
                </div>
            <% end %>

         
         <h2 class="text-base font-semibold leading-7 text-gray-900">Details</h2>

        <div class=" grid pr-10 py-10 sm:grid-cols-2 md:grid-cols-8" >
            
                <div class="sm:col-span-8 md:col-span-8">
                
                    <div class="flex flex-col"> 
                          <%= form.label :line1, 'Street Address', class:"block text-sm font-medium leading-6 text-gray-900" %>

                          <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                            
                           <input id= "autocomplete" type= "text" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"  />
             
                          </div>

                          <h1 onclick= "clearLine1()"> Clear </h1>
                           <%= form.hidden_field :line1%>

                    </div>
                    

                </div>

                



                <div class="sm:col-span-8 md:col-span-8">
                  <%= form.label :line2, 'Address Line 2 e.g APT/SUITE/UNIT/Floor #', class:"block text-sm font-medium leading-6 text-gray-900" %>
                  
                  <div class="">
                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                   
                    <%= form.text_field :line2 ,class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"%>
                    </div>
                  </div>
                </div>



                <div class="sm:col-span-8 md:cols-span-8">
                 <%= form.label :name, 'Name', class:"block text-sm font-medium leading-6 text-gray-900" %>
                  
                  <div class="">
                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                   
                    <%= form.text_field :name,class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"%>
                    </div>
                  </div>
                </div>





        <div>

     </div>
   </div>
   
    <div class="mt-6 pb-10 flex items-center justify-end gap-x-6">
                  <button type="button" data-action="modal#hideModal" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                   <%= form.submit "Publish", class:"rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", onclick:"onPlaceChanged();" %>
     </div>
 
    <% end %>
       
      </div>
    </div>
  </div>
</div>


