<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Enthrift</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<link rel="stylesheet" href="https://unpkg.com/slim-select@latest/dist/slimselect.css" />



<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://checkout.flutterwave.com/v3.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
     <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 


    <%# <%= javascript_importmap_tags %> 
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body >
 
  
     <%= render partial:'home/newheader' %>
    <%= render partial:'home/bottomheader' %>
     <%= render partial:'home/mobilemenu' %>

     
     
   <% flash.each do |type, msg| %>
    <% if type == 'notice'%>
 
     <%= render partial: "shared/notice", locals:{message: msg}%>
     <%end%>

     <% if type == 'alert'%>
 
     <%= render partial: "shared/alert", locals:{message: msg}%>
     <%end%>

    <% end %>

   
      <%= turbo_frame_tag "modal" %>
      <%= turbo_frame_tag "form"%>
      
     <%= yield %>
 


     
      
         
    <%# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> %>
  </body>
</html>